.mainContainer{
    display: flex;
    height: 1000px;    
    border-left: 1px solid black;
    
}

.mainContainer__sidebar{
    border-left: 1px solid black;
}

.line{
    border-right: 1px solid black;
}